 @media (max-width: 1443px) {
    .background {
      left: 31%;
    }
  }

  @media (max-width: 1100px) {
    .background {
      left: 26%;
    }
  }

  @media (max-width: 840px) {
    .background {
      left: 20%;
    }
  }

  @media (max-width: 640px) {
    .background {
      left: 15%;
    }
  }



  @media (max-width: 500px){
    header {
      width: 150%;
    }
    .text-top {
      margin-left: 50%;
    }
    .container {
      margin-left: 100px;
    }
    .view-mod {
      margin: -10px 0 80px 240px;
    }
  }
  @media (max-width: 380px){
    header {
      width: 200%;
    }
    .text-top {
      margin-left: 22rem;
    }
    .view-mod {
      margin: -10px 0 80px 240px;
    }
    .container {
      margin-left: 100px;
    }

  }
  @media (max-width: 300px){
    header {
      width: 250%;
    }
    .view-mod {
      margin: -10px 0 80px 240px;
    }
  }

  @media (max-width: 235px){
    header {
      width: 300%;
    }
    .view-mod {
      margin: -10px 0 80px 240px;
    }
  }
