@media (min-width: 1200px){

}

@media (min-width: 992px){

}

@media (min-width: 768px){

}

@media (max-width: 480px){
    .main-text {
        max-height: 45%;
    }
    .about h2, p {
        width: 230px;
    }
    .photo {
        position: relative;
        top:149px;
    }
    .photo img {
        width: 200px;
    }
}

@media (max-width: 320px){
    .main-text {
        max-height: 50%;
    }
    .about p {
        position: relative;
        left: 65px;
        width: 145px;
    }
    .about h2, p {
        width: 82px;
    }
    .photo {
        position: relative;
        top:149px;
    }
    .photo img {
        width: 150px;
    }
}
