@media (min-width: 1200px){

}

@media (min-width: 992px){

}

@media (min-width: 768px){

}

@media (max-width: 480px){
    .main-text {
        max-height: 45%;
    }
    .about h2, p {
        width: 230px;
    }

    .photo img {
        position: relative;
        top: 87px;
        width: 200px;
    }
}

@media (max-width: 425px) {
    .about h2, p {
        position: relative;
        left: 40px;

        
    }
    .photo img {
        position: relative;
        top: 87px;
    }

    .main-text {
        height: 80%;
    }
}

@media (max-width: 380px) {
    .about h2, p {
        position: relative;
        left: 10px;
        width: 150px;
    }
    .about h2 {
        font-size: 20px;
    }

    .about p {
        font-size: 14px;
    }

    .photo img {
        position: relative;
        top: 4rem;
        width: 150px;
    }
    .main-text {
        position: relative;
        height: 50%;
    }

}

@media (max-width: 320px){
    .main-text {
        max-height: 50%;
    }
    .about p {

        font-size: 14px;
    }

    .about h2 {
        font-size: 20px;
    }

    .about h2, p {
        position: relative;
        left: 60px;

    }

    .photo img {
        position: relative;
        top: 67px;
        width: 150px;
    }
}
