@media (min-width: 1200px){

}

@media (min-width: 992px){

}

@media (min-width: 768px){

}

@media (max-width: 480px){
    .main-text {
        max-height: 45%;
    }
    .about h2, p {
        width: 230px;
    }

    .photo img {
        position: relative;
        top: 87px;
        width: 200px;
    }
}


@media (min-width: 360px) and (max-width: 470px) {
    .about h2, p {
        position: relative;
        left: 10px;
        width: 150px;
    }
    .about h2 {
        font-size: 20px;
    }

    .about p {
        font-size: 14px;
    }

    .photo img {
        position: relative;
        top: 4rem;
        width: 150px;
    }
    .main-text {
        position: relative;
        height: 50%;
    }

}

@media (min-width: 320px) and (max-width: 370px){
    .main-text {
        max-height: 50%;
    }
    .about p {
        position: relative;
        font-size: 12px;
        
    }

    .about h2 {
        font-size: 18px;
    }

    .about h2, p {
        position: relative;
        left: 100px;

    }

    .photo img {
        position: relative;
        top: 2px;
        width: 100px;
    }
}
